# GitIgnore 
#TODO

*.o
build-cli
build-*

bin*
*.out
*.toc
*.log
*.aux
/src/UploadTool/UploadTool/nbproject/private/
/src/UploadTool/UploadTool/build/


/src/UploadTool/JeeTool/nbproject/private/
/src/UploadTool/JeeTool/build/
/src/WebPage/JeeToolWeb/nbproject/private/